@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

body,html{
  margin:0;
  padding:0;
  height:100%;
  font-family: 'Open Sans', sans-serif;
  color:#fff;
}

body{
  background: linear-gradient(45deg, #11998e 0%,#38ef7d 100%);
  display:flex;
  justify-content: center;
  align-items: center;
}

a{
  color:#efcf38;
  text-decoration: none;
  transition:0.2s ease-in-out;
  position: relative;
  font-weight: 600;
  &:after{
    content:'';
    position: absolute;
    left:0;
    bottom:-5px;
    width:0px;
    height:2px;
    background: #efcf38;
    transition:0.2s ease-in-out;
  }
  &:hover{
    color:#efe438;
    &:after{
      width:100%;
      background:#efcf38;
    }
  }
}

main{
  text-align:center;
  max-width: 450px;
  @media screen and (max-width: 768px){
    max-width: 300px;
  }
  img{
    max-width: 350px;
    @media screen and (max-width: 768px){
      max-width: 100%;
    }
  }
  h1{
    font-size:26px;
    color:#fff;
    padding-top:10px;
    @media screen and (max-width: 768px){
      font-size:18px;
    }
  }
}
